# Car Fuel Efficiency Analysis

This notebook analyzes the Car Fuel Efficiency dataset to answer several questions about fuel efficiency, vehicle properties, and statistical analysis.

## 1. Import Required Libraries

In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np

## Q1: Pandas Version
Check the installed version of pandas.

In [2]:
# Check pandas version
pd.__version__

'2.2.3'

## Getting the Data
Download the Car Fuel Efficiency dataset and load it with Pandas.

In [4]:
# Download the dataset 
# You can use wget to download the file
# !wget https://raw.githubusercontent.com/bigdatadatafan/datasets-clase/main/car_fuel_efficiency.csv

# Load the dataset
df = pd.read_csv('data/car_fuel_efficiency.csv')
df
# After loading the data, let's take a look at the first few rows
# df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

## Data Exploration
Let's explore the dataset to understand its structure.

In [8]:
# Display basic information about the dataset
df.info()

# Get summary statistics
# df.describe()

# Check column names
# df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

## Q2: Records Count
Count the total number of records in the dataset.

In [12]:
# Count the total number of records
# Your code here
df.shape[0]

9704

## Q3: Fuel Types
Identify and count the different fuel types in the dataset.

In [8]:
# Find out how many fuel types are in the dataset
# Your code here
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

## Q4: Missing Values
Check for missing values in the dataset and count columns with missing values.

In [12]:
# Check for missing values in each column
# Method 1: Check total missing values per column
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

# Method 2: Count columns with at least one missing value
columns_with_missing = missing_values[missing_values > 0]
print("\nColumns with missing values:", len(columns_with_missing))
print("These columns are:")
print(columns_with_missing.index.tolist())

Missing values per column:
engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Columns with missing values: 4
These columns are:
['num_cylinders', 'horsepower', 'acceleration', 'num_doors']

## Q5: Max Fuel Efficiency
Find the maximum fuel efficiency of cars from Asia.

In [ ]:
# Filter cars from Asia and find the maximum fuel efficiency
# Your code here
cars_from_assia = df[df['origin'] == 'Asia']
maximum_fuel_effency_assia = cars_from_assia.loc[cars_from_assia['fuel_efficiency_mpg'].idxmax()]
print("Cars from Asia")
print(cars_from_assia)
print("\nMaximun fuel effency")
maximum_fuel_effency_assia

engine_displacement                  330
num_cylinders                        3.0
horsepower                         136.0
vehicle_weight               1223.298226
acceleration                         NaN
model_year                          2001
origin                              Asia
fuel_type                       Gasoline
drivetrain             Front-wheel drive
num_doors                            1.0
fuel_efficiency_mpg            23.759123
Name: 9387, dtype: object

## Q6: Median Value of Horsepower
Calculate the median and most frequent value of horsepower, fill missing values, and check if the median changes.

In [ ]:
# 1. Calculate the median value of horsepower
# Your code here

# 2. Find the most frequent value of horsepower
# Your code here

# 3. Fill missing values with the most frequent value
# Your code here

# 4. Calculate the new median
# Your code here

# 5. Check if the median has changed
# Your code here

## Q7: Sum of Weights
Implement linear regression calculation using matrix operations on selected data from Asian cars.

In [ ]:
# 1. Select all cars from Asia
# Your code here

# 2. Select only columns vehicle_weight and model_year
# Your code here

# 3. Select the first 7 values
# Your code here

# 4. Get the underlying NumPy array X
# Your code here

# 5. Compute matrix-matrix multiplication between the transpose of X and X
# Your code here

# 6. Invert XTX
# Your code here

# 7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200]
# Your code here

# 8. Calculate the linear regression weights (w = XTX_inv @ X.T @ y)
# Your code here

# 9. Calculate the sum of all elements in w
# Your code here

## Conclusion
Summarize your findings for each question.

In [ ]:
# Add your conclusions here after completing all questions
# Q1: The installed Pandas version is...
# Q2: The dataset contains...
# Q3: There are...
# Q4: ...
# Q5: ...
# Q6: ...
# Q7: ...